$theme: rgb(255,0,0); // 主题颜色
$warmColor: #F5A623; // 提示颜色
$fontColor1: #757575; // 字体颜色1 一般字体
$fontColor2: #212121; // 字体颜色2 标题类字体
$fontColor3: #888; // 字体颜色3 文章颜色
$fontColor4: #999; // 字体颜色4 浅色
$fontSize1: 14px; // 一般字体大小 
$fontSize2: 18px; // 标题字体大小 
$fontSize3: 13px; // 内容字体大小 
$fontSize4: 12px; // 小字体 

$maxWidth: 1140px;
$minWidth: 1140px;

:export {
  theme: $theme;
  textColor: $fontColor1;
}
